---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<dont_share_my_key>&page=1&query=Happy%20Feet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"total_results":2,"total_pages":1,"results":[{"popularity":20.368,"vote_count":3567,"video":false,"poster_path":"\/za41IHkj6LnkilfTzv5B2qmthKD.jpg","id":9836,"adult":false,"backdrop_path":"\/9DUAR7p4SGqt2ISH2lmSzNx3uni.jpg","original_language":"en","original_title":"Happy
        Feet","genre_ids":[16,35,10751],"title":"Happy Feet","vote_average":6.1,"overview":"Into
        the world of the Emperor Penguins, who find their soul mates through song,
        a penguin is born who cannot sing. But he can tap dance something fierce!","release_date":"2006-11-16"},{"popularity":17.707,"vote_count":998,"video":false,"poster_path":"\/2gWiQ4mn85jcXtREVePlVViupeV.jpg","id":65759,"adult":false,"backdrop_path":"\/jiY7dnAtkvM1UykifM0RJAhZLY6.jpg","original_language":"en","original_title":"Happy
        Feet Two","genre_ids":[16,35,10751],"title":"Happy Feet Two","vote_average":6,"overview":"Mumble
        the penguin has a problem: his son Erik, who is reluctant to dance, encounters
        The Mighty Sven, a penguin who can fly! Things get worse for Mumble when the
        world is shaken by powerful forces, causing him to brings together the penguin
        nations and their allies to set things right.","release_date":"2011-11-17"}]}'
  recorded_at: Wed, 14 Oct 2020 22:45:50 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<dont_share_my_key>&page=2&query=Happy%20Feet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 0bcab0ec408b6218d3bde3a982d5c64a
    body:
      encoding: UTF-8
      string: '{"page":2,"total_results":2,"total_pages":1,"results":[]}'
  recorded_at: Wed, 14 Oct 2020 22:45:51 GMT
recorded_with: VCR 6.0.0
