---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/keyword?api_key=<dont_share_my_key>&page=1&query=sunset
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5cc9d878f005d8e479db14661efe5734
      X-Memc-Age:
      - '5812'
      X-Memc-Expires:
      - '15788'
      Etag:
      - W/"884b04b3a92e8c26a0373cc67fbfcf3e"
      Last-Modified:
      - Sun, 11 Oct 2020 21:44:21 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"name":"sunset","id":187355},{"name":"sunset
        strip","id":220782},{"name":"sunset carson","id":226069},{"name":"sunsets","id":239897}],"total_pages":1,"total_results":4}'
  recorded_at: Sun, 11 Oct 2020 22:08:58 GMT
[...]
